[hitep.rest]
topic_scenario: cltl.topic.scenario
topic_knowledge: cltl.topic.knowledge

[hitep.importance]
init_time: 12000
topic_scenario: cltl.topic.scenario
topic_knowledge: cltl.topic.knowledge
topic_gaze: cltl.topic.painting
topic_text_in: cltl.topic.text_in
topic_text_out: cltl.topic.text_out

[cltl.language]
language:nl

[cltl.backend]
### To run locally with system
run_server: False
storage_url: http://0.0.0.0:8000/storage/
audio_storage_path: ./storage/audio
audio_source_buffer: 16
image_storage_path: ./storage/image
image_cache: 32
scenario_topic: cltl.topic.scenario

[cltl.backend.mic]
topic:

[cltl.backend.image]
topic:
rate: 0.025

[cltl.backend.tts]
topic:

[cltl.backend.text_output]
remote_url:

[cltl.asr]
implementation: whisper
sampling_rate: 16000
vad_topic: cltl.topic.vad
asr_topic: cltl.topic.text_in

[cltl.asr.google]
sampling_rate: 16000
language: en-GB
hints:

[cltl.asr.whisper]
model: base
language: en

[cltl.brain]
address: http://localhost:7200/repositories/sandbox
log_dir: ./storage/rdf
clear_brain : False
topic_input : cltl.topic.knowledge
topic_output : cltl.topic.brain_response

[cltl.chat-ui]
name: chat-ui
agent_id: leolani
external_input: True
timeout: 10

[cltl.chat-ui.events]
local: True
topic_utterance: cltl.topic.text_in
topic_response: cltl.topic.text_out, text_out_chatonly
topic_scenario : cltl.topic.scenario
topic_desire : cltl.topic.desire

[cltl.context]
topic_scenario: cltl.topic.scenario

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2

[cltl.event_log]
log_dir: ./storage/event_log

[cltl.emissor-data]
path: ./storage/emissor

[cltl.emissor-data.event]
topics: cltl.topic.scenario, cltl.topic.text_in, cltl.topic.text_out

[environment]
GOOGLE_APPLICATION_CREDENTIALS: config/google_cloud_key.json
